# See http://help.github.com/ignore-files/ for more about ignoring files.

# Generalized and cross-cutting ignored files and folders

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# system files
.DS_Store
ehthumbs.db
Thumbs.db
 
# track these files, if they exist
!.gitignore
!.editorconfig